---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>https://tripdusk.com/</loc><changefreq>weekly</changefreq><priority>1.0</priority></url>
  <url><loc>https://tripdusk.com/romantic-escapes.html</loc><changefreq>weekly</changefreq><priority>0.9</priority></url>
  <url><loc>https://tripdusk.com/nomad-life.html</loc><changefreq>weekly</changefreq><priority>0.9</priority></url>
  <url><loc>https://tripdusk.com/golden-hour.html</loc><changefreq>weekly</changefreq><priority>0.9</priority></url>
  <url><loc>https://tripdusk.com/sunset-finder.html</loc><changefreq>monthly</changefreq><priority>0.8</priority></url>
  <url><loc>https://tripdusk.com/destinations.html</loc><changefreq>weekly</changefreq><priority>0.8</priority></url>
  <url><loc>https://tripdusk.com/about.html</loc><changefreq>monthly</changefreq><priority>0.5</priority></url>
  <url><loc>https://tripdusk.com/contact.html</loc><changefreq>monthly</changefreq><priority>0.5</priority></url>
  {%- for post in collections.post %}
  <url><loc>https://tripdusk.com{{ post.url }}</loc><lastmod>{{ post.date | isoDate }}</lastmod><changefreq>monthly</changefreq><priority>0.7</priority></url>
  {%- endfor %}
  {%- for p in wpposts %}
  <url><loc>https://tripdusk.com/{{ p.slug }}/</loc><lastmod>{{ p.modified }}</lastmod><changefreq>monthly</changefreq><priority>0.7</priority></url>
  {%- endfor %}
</urlset>
